body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;

}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 50%;
	color: #fff;
	text-transform: uppercase;
	bottom: 60px;
    	font-weight: 700;

    	position: relative;
	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
















